/NeoSchool/bin
/NeoSchool/obj
/NeoSchool/NeoSchool.Data/bin
/NeoSchool/NeoSchool.Data/obj
/NeoSchool/NeoSchool.Models/bin
/NeoSchool/NeoSchool.Models/obj
/NeoSchool.Data/bin/Debug/netstandard2.0/NeoSchool.Data.deps.json
/NeoSchool.Data/bin/Debug/netstandard2.0/NeoSchool.Data.dll
/NeoSchool.Data/bin/Debug/netstandard2.0/NeoSchool.Data.pdb
/NeoSchool.Data/bin/Debug/netstandard2.0/NeoSchool.Models.dll
/NeoSchool.Data/bin/Debug/netstandard2.0/NeoSchool.Models.pdb
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.AssemblyInfo.cs
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.AssemblyInfoInputs.cache
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.assets.cache
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.csproj.CopyComplete
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.csproj.CoreCompileInputs.cache
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.csproj.FileListAbsolute.txt
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.csprojAssemblyReference.cache
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.dll
/NeoSchool.Data/obj/Debug/netstandard2.0/NeoSchool.Data.pdb
/NeoSchool.Data/obj/NeoSchool.Data.csproj.nuget.cache
/NeoSchool.Data/obj/NeoSchool.Data.csproj.nuget.dgspec.json
/NeoSchool.Data/obj/NeoSchool.Data.csproj.nuget.g.props
/NeoSchool.Data/obj/NeoSchool.Data.csproj.nuget.g.targets
/NeoSchool.Data/obj/project.assets.json
/NeoSchool.Models/bin/Debug/netstandard2.0/NeoSchool.Models.deps.json
/NeoSchool.Models/bin/Debug/netstandard2.0/NeoSchool.Models.dll
/NeoSchool.Models/bin/Debug/netstandard2.0/NeoSchool.Models.pdb
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.AssemblyInfo.cs
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.AssemblyInfoInputs.cache
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.assets.cache
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.csproj.CoreCompileInputs.cache
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.csproj.FileListAbsolute.txt
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.csprojAssemblyReference.cache
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.dll
/NeoSchool.Models/obj/Debug/netstandard2.0/NeoSchool.Models.pdb
/NeoSchool.Models/obj/NeoSchool.Models.csproj.nuget.cache
/NeoSchool.Models/obj/NeoSchool.Models.csproj.nuget.dgspec.json
/NeoSchool.Models/obj/NeoSchool.Models.csproj.nuget.g.props
/NeoSchool.Models/obj/NeoSchool.Models.csproj.nuget.g.targets
/NeoSchool.Models/obj/project.assets.json
