@using NeoSchool.Services
@model NeoSchool.Models.VideoLessonViewModel
@inject IVideoLessonService service
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AllVideos = service.GetAllVideos();
}

<h1 class="d-flex justify-content-around row">Video Lessons</h1>
<hr class="alert-primary" style="height:1px" />

<div id="videos" class="mt-3">
    @for (int i = 0; i < AllVideos.Count; i += 3)
    {
        <div class="products-row row d-flex justify-content-around my-5">
            @for (int j = i; j < i + 3; j++)
            {
                if (j < AllVideos.Count)
                {
                    var videoUrl = service.GetEmbeddingUrl(AllVideos[j].Url);

                    <div id="video-box" class="video col-md-4">
                        <div id="video-name" class="text-center">
                            <a href="/VideoLesson/VideoDetails/@AllVideos[j].Id">@AllVideos[j].Name</a>
                        </div>
                        <hr />

                        <div id="video-frame" class="d-flex justify-content-center" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
                            <iframe src="@videoUrl" width="100%" height="100%" style="position:absolute; top:0; left: 0"
                                    frameborder="1"
                                    allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>

                        <div id="description-text" class="m-4">
                            <a href="/VideoLesson/VideoDetails/@AllVideos[j].Id" class="text-justify text-secondary">@service.GetShortDescription(AllVideos[j].Description)</a>
                        </div>
                        <div id="description-text" class="m-4">
                            <p>Author: @AllVideos[j].Author.UserName</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="product col-md-4 empty">
                    </div>
                }
            }
        </div>
        <hr />
    }
</div>