@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}
@if (SignInManager.IsSignedIn(User))
{
    <div>
        <h1>Hello @User.Identity.Name!</h1>
    </div>
}
<div class="text-center">
    <h2 class="display-4">Welcome to Neo School!</h2>
    <p> We are a platform dedicated to helping teachers worldwide!</p>
</div>
